<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="shared-styles.html">

<link rel="import" href="list-transactions.html">

<dom-module id="home-quotes">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
      <h1>Cuentas</h1>
      <div hidden$="[[!storedUser.loggedin]]">
        <p>Hola, [[storedUser.name]]! Puedes consultar tus cuentas:</p>
        <blockquote>[[Cuentas]]</blockquote>
        <paper-button class="primary" raised on-tap="getSecretQuote">Consulta tus cuentas</paper-button>
      </div>
        <p hidden$="[[storedUser.loggedin]]">Debes <a href="[[rootPath]]register-login">log in</a> para acceder!</p>

      </div>
      <div class="card" hidden$="[[!storedUser.loggedin]]">
        <template is="dom-repeat" items="[[accounts]]">
          <table is="s-accounts-table" fixed-column>
            <thead>
              <tr>
                <th>ID</th>
                <th>CUENTA</th>
                <th>DESCRIPCION</th>
                <th>MONEDA</th>
                <th>SALDO</th>
              </tr>
            </thead>
            <tbody is="s-accounts">
              <tr is="s-tr" multi>
                <td>[[item.id_account]]</td>
                <td>[[item.cta]]</td>
                <td>[[item.description]]</td>
                <td>[[item.divisa]]</td>
                <td>[[item.saldo]]</td>
              </tr>
            </tbody>
          </table>
        </template>
      </div>

      <div class="card" hidden$="[[!storedUser.loggedin]]">
        <list-transactions></list-transactions>
      </div>
    <iron-ajax
      id="getSecretQuoteAjax"
      method="GET"
      url="http://68.183.98.140:3000/techu/v2/accounts/{{storedUser.id_user}}"
      handle-as="json"
      last-response="{{accounts}}"></iron-ajax>
  </template>

  <script>
    class HomeQuotes extends Polymer.Element {
      static get is() { return 'home-quotes'; }
      static get properties() {
        return {
          storedUser: Object,
          storedAcc: Object
        };
      }

      initStoredUser() {
        // if entering site on the secret quotes page, verify if logged in and if so, preload a secret quote
        if (this.storedUser.loggedin) {
            this.getSecretQuote();
        }
      }

      getSecretQuote() {
        // add token authorization and generate Ajax request
        //this.$.getSecretQuoteAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
        //this.$.getSecretQuoteAjax.params = '{"id_user" : "this.storedUser.id_user"}';
        var userD = {
          "id_user" : this.storedUser.id_user
        };
        console.log(JSON.stringify(userD));
        //this.$.getSecretQuoteAjax.params = userD;
        this.$.getSecretQuoteAjax.generateRequest();
      }
    }


    window.customElements.define(HomeQuotes.is, HomeQuotes);
  </script>
</dom-module>
