<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">

<dom-module id="list-transactions">
  <template>
  <style include="shared-styles">
    :host {
      display: block;

      padding: 10px;
    }
    .wrapper-btns {
      margin-top: 15px;
    }
    paper-button.link {
      color: #757575;
    }
    .alert-error {
      background: #ffcdd2;
      border: 1px solid #f44336;
      border-radius: 3px;
      color: #333;
      font-size: 14px;
      padding: 10px;
    }
  </style>

    <!-- MARKUP GOES HERE -->
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
    <div class="card" hidden$="[[!storedUser.loggedin]]">
      <template is="dom-if" if="[[error]]">
        <p class="alert-error"><strong>Error:</strong> [[error]]</p>
      </template>
      <paper-input-container>
        <label slot="input">ID CUENTA</label>
        <iron-input slot="input" bind-value="">
          <input id="account_id" type="text" value="{{account_id::input}}" placeholder="account_id">
        </iron-input>
      </paper-input-container>

      <paper-button class="primary" raised on-tap="doListTrans">Consulta de Transacciones</paper-button>

      <template is="dom-repeat" items="[[list-transactions]]">
        <table is="s-transaction-table" fixed-column>
          <thead>
            <tr>
              <th>ID</th>
              <th>DESCRIPCION</th>
              <th>MONTO</th>
              <th>FECHA</th>
            </tr>
          </thead>
          <tbody is="s-transactions">
            <tr is="s-tr" multi>
              <td>[[item.id_transaction]]</td>
              <td>[[item.description]]</td>
              <td>[[item.amount]]</td>
              <td>[[item.date]]</td>
            </tr>
          </tbody>
        </table>
      </template>
    </div>

    <iron-ajax
      id="ListTransactionsAjax"
      method="GET"
      url="http://68.183.98.140:3000/techu/v2/transactions/{{account_id}}"
      handle-as="json"
      last-response="{{list-transactions}}"
      on-error="handleUserError"
    </iron-ajax>
  </template>

  <script>
        (function() {
            class ListTransactions extends Polymer.Element {
                static get is() {
                    return 'list-transactions';
                }
                static get properties() {
                  return {
                    storedUser: Object,
                    link: {
                      type: Boolean,
                      value: false
                    },
                    error: String
                  };
                }

                doListTrans() {
                  // add token authorization and generate Ajax request
                  //this.$.getSecretQuoteAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
                  //this.$.getSecretQuoteAjax.params = '{"id_user" : "this.storedUser.id_user"}';
                  var userD = {
                    "id_user" : this.storedUser.id_user
                  };
                  console.log(JSON.stringify(userD));
                  //this.$.getSecretQuoteAjax.params = userD;
                  this.$.ListTransactionsAjax.generateRequest();
                }

                handleUserError(event) {
                  this.error = event.detail.request.xhr.response;
                }
            }

            window.customElements.define(ListTransactions.is, ListTransactions);
        }());
    </script>
</dom-module>
