<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="shared-styles.html">


<dom-module id="new-user">

  <!--template is="dom-if" if="[[error]]">
    <style include="shared-styles">
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
    </style>
    <p class="alert-error"><strong>Error:</strong> [[error]]</p>
  </template-->


  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .wrapper-btns {
        margin-top: 15px;
      }
      paper-button.link {
        color: #757575;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
    </style>


    <div class="card">
      <template is="dom-if" if="[[error]]">
        <p class="alert-error"><strong>Error:</strong> [[error]]</p>
      </template>
        <h1>Register</h1>
          <p><strong>Pf coloque sus datos</strong>!</p>
          <paper-input-container>
            <label slot="input">Nombres</label>
            <iron-input slot="input" bind-value="">
              <input id="first_name" type="text" value="{{first_name::input}}" placeholder="first_name">
              </iron-input>
              </paper-input-container>
              <paper-input-container>
                <label slot="input">Apellidos</label>
                <iron-input slot="input" bind-value="">
                  <input id="last_name" type="text" value="{{last_name::input}}" placeholder="last_name">
                  </iron-input>
                  </paper-input-container>
          <paper-input-container>
            <label slot="input">Email</label>
            <iron-input slot="input" bind-value="">
              <input id="email" type="email" value="{{email::input}}" placeholder="email">
              </iron-input>
              </paper-input-container>
              <paper-input-container>
                <label>Password</label>
                <iron-input slot="input" bind-value="">
                  <input id="password" type="password" value="{{password::input}}" placeholder="Password">
                </iron-input>
              </paper-input-container>
              <div class="wrapper-btns">
                <paper-button class="link" on-tap="postRegister">Confirmar registro</paper-button>
              </div>

            <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
            <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
      </div>

    <iron-ajax
        id="newUserAjax"
        method="post"
        content-type="application/json"
        handle-as="text"
        on-response="handleUserResponse"
        on-error="handleUserError">
    </iron-ajax>
  </template>

  <script>
    class NewUser extends Polymer.Element {
      static get is() { return 'new-user'; }
        static get properties(){
          return {
            formData:{
              type: Object,
              value: {}
            },
            storedUser: Object,
            error: String
          };
        }

        _setReqBody() {
        this.$.newUserAjax.body = this.formData;
        }


        postRegister() {
          this.$.newUserAjax.url = 'http://68.183.98.140:3000/techu/v2/users';
          //this._setReqBody();
          //this.$.registerLoginAjax.generateRequest();

          console.log("El usuario ha pulsado el botón login");
          var newUserData = {
            "first_name" : this.first_name,
            "last_name"  : this.last_name,
            "email" : this.email,
            "password" : this.password
          };
          this.$.newUserAjax.body = JSON.stringify(newUserData);
          this.$.newUserAjax.generateRequest();
        }



        handleUserResponse(event) {
            var response = JSON.parse(event.detail.response);

            if (response.isActive=true) {
              this.error = '';
              this.storedUser = {
                name: response.first_name,
                id_user: response.id_user,
                loggedin: true
              };
              this.set('route.path', '/home-quotes');
            }

            // reset form data
            this.formData = {};
          }

        handleUserError(event) {
          this.error = event.detail.request.xhr.response;
        }
    }
    window.customElements.define(NewUser.is, NewUser);
  </script>
</dom-module>
