<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel = "import" href = "../bower_components/paper-listbox/paper-listbox.html">
<link rel = "import" href = "../bower_components/paper-item/paper-item.html">
<link rel = "import" href = "../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/neon-animation/web-animations.html">
<link rel="import" href="shared-styles.html">


<dom-module id="new-account">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
      <app-location route="{{route}}"></app-location>
      <template is="dom-if" if="[[error]]">
        <p class="alert-error"><strong>Error:</strong> [[error]]</p>
      </template>
      <h1>Nueva Cuenta</h1>
      <div hidden$="[[!storedUser.loggedin]]">
        <p>Hola, [[storedUser.name]]! Puedes crear tus cuentas:</p>
        <paper-dropdown-menu label="Tipo de Cuenta">
          <paper-listbox id="TCuenta" slot="dropdown-content" selected="0">
            <paper-item value="Cuenta Sueldo">Cuenta sueldo</paper-item>
            <paper-item value="Cuenta Independiente">Cuenta independiente</paper-item>
            <paper-item value="Cuenta Millonaria">Cuenta Millonaria</paper-item>
            <paper-item value="Cuenta Ahorros">Cuenta Ahorros</paper-item>
          </paper-listbox>
        </paper-dropdown-menu>
        <paper-dropdown-menu label="Moneda">
          <paper-listbox id="Moneda" slot="dropdown-content" selected="0">
            <paper-item value="PEN">Soles</paper-item>
            <paper-item value="USD">Dolares</paper-item>
          </paper-listbox>
        </paper-dropdown-menu>
        <paper-button class="primary" raised on-tap="createAcc">Crear cuenta</paper-button>
      </div>
        <p hidden$="[[storedUser.loggedin]]">Debes <a href="[[rootPath]]register-login">log in</a> para acceder!</p>
        <template is="dom-if" if="{{link}}">
          <div>
            <p>CUENTA CREADA CORRECTAMENTE</p>
          </div>
        </template>
      <iron-ajax
          id="NewAccountAjax"
          method="post"
          content-type="application/json"
          handle-as="text"
          on-response="handleUserResponse"
          on-error="handleUserError"
      </iron-ajax>
  </template>

  <script>
    class NewAccount extends Polymer.Element {
      static get is() { return 'new-account'; }
      static get properties() {
        return {
          storedUser: Object,
          storedAcc: Object,
          tipo_acc:{
            type: String
          },
          tipo_moneda:{
            type: String
          },
          link: {
            type: Boolean,
            value: false
          },
          error: String
        };
      }

      ready() {
        super.ready();
        this.$.TCuenta.addEventListener('selected-item-changed', e => { this._TCuentaOption(e) });
        this.$.Moneda.addEventListener('selected-item-changed', e => { this._MonedaOption(e) });
      }

      _TCuentaOption(e) {
        const value = e.target.selectedItem;
        if (value) {
          console.log(value.attributes["value"].value);
          this.tipo_acc = value.attributes["value"].value;
        }
      }

      _MonedaOption(e) {
        const value = e.target.selectedItem;
        if (value) {
          console.log(value.attributes["value"].value);
          this.tipo_moneda = value.attributes["value"].value;
        }
      }

      createAcc() {
        // add token authorization and generate Ajax request
        //this.$.getSecretQuoteAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
        //this.$.getSecretQuoteAjax.params = '{"id_user" : "this.storedUser.id_user"}';
        this.$.NewAccountAjax.url = 'http://68.183.98.140:3000/techu/v2/accounts/' + this.storedUser.id_user;
        var NewAccData = {
          "description" : this.tipo_acc,
          "divisa"  : this.tipo_moneda
        };
        this.$.NewAccountAjax.body = JSON.stringify(NewAccData);
        this.$.NewAccountAjax.generateRequest();
      }

      handleUserResponse(event) {
          var response = JSON.parse(event.detail.response);

          if (response.isActive=true) {
            this.link = true;
            //this.set('route.path', '/home-quotes');
          }

          // reset form data
          this.formData = {};
        }

      handleUserError(event) {
        this.error = event.detail.request.xhr.response;
      }
    }


    window.customElements.define(NewAccount.is, NewAccount);
  </script>
</dom-module>
