<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="shared-styles.html">


<dom-module id="new-transaction">
  <template>
    <style include="shared-styles">
    :host {
      display: block;

      padding: 10px;
    }
    .wrapper-btns {
      margin-top: 15px;
    }
    paper-button.link {
      color: #757575;
    }
    .alert-error {
      background: #ffcdd2;
      border: 1px solid #f44336;
      border-radius: 3px;
      color: #333;
      font-size: 14px;
      padding: 10px;
    }
    </style>
    <!-- MARKUP GOES HERE -->
    <div class="card">
      <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
      <template is="dom-if" if="[[error]]">
        <p class="alert-error"><strong>Error:</strong> [[error]]</p>
      </template>
      <h1>Nueva Transferencia</h1>
      <div hidden$="[[!storedUser.loggedin]]">
        <p>Hola, [[storedUser.name]]! Puedes realizar transferencias:</p>
        <paper-input-container>
          <label slot="input">Cuenta origen</label>
          <iron-input slot="input" bind-value="">
            <input id="account_origin" type="text" value="{{account_origin::input}}" placeholder="account_origin">
          </iron-input>
        </paper-input-container>
        <paper-input-container>
          <label>Cuenta destino</label>
          <iron-input slot="input" bind-value="">
            <input id="account_target" type="text" value="{{account_target::input}}" placeholder="account_target">
          </iron-input>
        </paper-input-container>
        <paper-input-container>
          <label>Divisa</label>
          <iron-input slot="input" bind-value="">
            <input id="divisa" type="text" value="{{divisa::input}}" placeholder="divisa">
          </iron-input>
        </paper-input-container>
        <paper-input-container>
          <label>Monto</label>
          <iron-input slot="input" bind-value="">
            <input id="amount" type="text" value="{{amount::input}}" placeholder="amount">
          </iron-input>
        </paper-input-container>
        <paper-input-container>
          <label>Descripcion</label>
          <iron-input slot="input" bind-value="">
            <input id="description" type="text" value="{{description::input}}" placeholder="description">
          </iron-input>
        </paper-input-container>
        <paper-button class="primary" raised on-tap="doTransfer">Confirmar Transferencia</paper-button>
      </div>
      <div>
        <p hidden$="[[storedUser.loggedin]]">Debes <a href="[[rootPath]]register-login">log in</a> para acceder!</p>
      </div>

      <template is="dom-if" if="{{link}}">
        <div>
          <p>TRANFERENCIA CORRECTA</p>
        </div>
      </template>

    <iron-ajax
        id="NewTransactionAjax"
        method="post"
        content-type="application/json"
        handle-as="text"
        on-response="handleUserResponse"
        on-error="handleUserError"
    </iron-ajax>
  </template>

  <script>
        (function() {
            class NewTransaction extends Polymer.Element {
                static get is() {
                    return 'new-transaction';
                }
                static get properties() {
                  return {
                    storedUser: Object,
                    storedAcc: Object,
                    error: String,
                    link: {
                      type: Boolean,
                      value: false
                    }
                  };
                }

                doTransfer() {
                  this.$.NewTransactionAjax.url = 'http://68.183.98.140:3000/techu/v2/transactions/' + this.account_origin;
                  console.log("El usuario ha pulsado el botón nueva transaccion");
                  var transactionData = {
                    "description" : this.description,
                    "divisa"  : this.divisa,
                    "type"    : "DEBITO",
                    "id_user" : this.storedUser.id_user,
                    "account_target"  : this.account_target,
                    "amount"  : this.amount
                  };
                  this.$.NewTransactionAjax.body = JSON.stringify(transactionData);
                  this.$.NewTransactionAjax.generateRequest();

                }

                handleUserResponse(event) {
                    var response = JSON.parse(event.detail.response);

                    if (response.transfered=true) {
                      this.link = true;
                    }

                    // reset form data
                    this.formData = {};
                  }

                handleUserError(event) {
                  this.error = event.detail.request.xhr.response;
                }
            }

            window.customElements.define(NewTransaction.is, NewTransaction);
        }());
    </script>
</dom-module>
