<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="shared-styles.html">

<link rel="import" href="log-out.html">
<link rel="import" href="new-user.html">

<dom-module id="register-login">

  <!--template is="dom-if" if="[[error]]">
    <style include="shared-styles">
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
    </style>
    <p class="alert-error"><strong>Error:</strong> [[error]]</p>
  </template-->


  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .wrapper-btns {
        margin-top: 15px;
      }
      paper-button.link {
        color: #757575;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
    </style>


    <div class="card">

      <app-location route="{{route}}"></app-location>
      <template is="dom-if" if="[[error]]">
        <p class="alert-error"><strong>Error:</strong> [[error]]</p>
      </template>
      <div id="unauthenticated" hidden$="[[storedUser.loggedin]]">
        <div id="log_user" hidden$="{{!new_reg}}">
        <h1>Log In</h1>
          <p><strong>Log in</strong> or <strong>sign up</strong>!</p>
          <paper-input-container>
            <label slot="input">Email</label>
            <iron-input slot="input" bind-value="">
              <input id="email" type="email" value="{{email::input}}" placeholder="email">
              </iron-input>
              </paper-input-container>
              <paper-input-container>
                <label>Password</label>
                <iron-input slot="input" bind-value="">
                  <input id="password" type="password" value="{{password::input}}" placeholder="Password">
                </iron-input>
              </paper-input-container>
              <div class="wrapper-btns">
                <paper-button raised class="primary" on-tap="postLogin">Log In</paper-button>
                <paper-button raised class="primary" on-tap="postReg">Register</paper-button>
              </div>
            </div>
              <div id="new_user" hidden$="{{new_reg}}">
                <new-user></new-user>
              </div>
            </div>
            <div id="authenticated" hidden$="[[!storedUser.loggedin]]">
              <h2>Hola, [[storedUser.name]]!</h2>
              <p>Estas logueado y puedes ingresar a ver  <a href="[[rootPath]]home-quotes">tus cuentas y movimientos</a>!</p>
              <log-out stored-user="{{storedUser}}"></log-out>
              <!--template is="dom-if" if="{{!link}}">
                <paper-button raised class="indigo" on-tap="logout">Log Out [[[storedUser.name]]]</paper-button>
              </template>

              <template is="dom-if" if="{{link}}">
                <paper-button class="link" on-tap="logout">Log Out [[[storedUser.name]]]</paper-button>
              </template-->
            </div>
            <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
            <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
      </div>

    <iron-ajax
        id="registerLoginAjax"
        method="post"
        content-type="application/json"
        handle-as="text"
        on-response="handleUserResponse"
        on-error="handleUserError">
    </iron-ajax>
  </template>

  <script>
    class RegisterLogin extends Polymer.Element {
      static get is() { return 'register-login'; }
        static get properties(){
          return {
            formData:{
              type: Object,
              value: {}
            },
            storedUser: Object,
            error: String,
            new_reg: {
              type: Boolean,
              value: true
            }
          };
        }

        _setReqBody() {
        this.$.registerLoginAjax.body = this.formData;
        }

        postLogin() {
          this.$.registerLoginAjax.url = 'http://68.183.98.140:3000/techu/v2/login';
          //this._setReqBody();
          //this.$.registerLoginAjax.generateRequest();

          console.log("El usuario ha pulsado el botón login");
          var loginData = {
            "email" : this.email,
            "password" : this.password
          };
          this.$.registerLoginAjax.body = JSON.stringify(loginData);
          this.$.registerLoginAjax.generateRequest();

        }

        postReg() {
            this.new_reg = false;
        }


        handleUserResponse(event) {
            var response = JSON.parse(event.detail.response);

            if (response.user.logged=true) {
              this.error = '';
              this.storedUser = {
                name: response.user.first_name,
                id_user: response.user.id_user,
                loggedin: true
              };
              this.set('route.path', '/home-quotes');
            }

            // reset form data
            this.formData = {};
          }

        handleUserError(event) {
          this.error = event.detail.request.xhr.response;
        }
    }
    window.customElements.define(RegisterLogin.is, RegisterLogin);
  </script>
</dom-module>
